In [28]:
import calendar
import numpy as np
import pandas as pd
#from pandas.core.frame import DataFrame
#from pandas.core.series import Series #이렇게 불러도 됨.
import seaborn as sns # 통계적 plot
from scipy import stats #통계
import missingno as msno #결측치 보는 plot
from datetime import datetime #day
import matplotlib.pyplot as plt
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
import warnings #에러는 아닌데 주희하는게 뜨는것을 방지.
warnings.filterwarnings('ignore')

df_data = pd.read_csv("https://raw.githubusercontent.com/the9world/My_Study/main/Z_running_file/Medical_Cost_Personal_Datasets/insurance.csv")
X = df_data[['bmi','charges']].values
y = df_data['age'].values

In [29]:
df_data['sex']=df_data["sex"].replace({'male':0, 'female':1})
df_data['smoker']=df_data["smoker"].replace({'yes':1, 'no':0})
df_data['region']=df_data["region"].replace({ 'northwest':0,'southwest':1, 'northeast':2, 'southeast':3})
df_data

      age  sex     bmi  children  smoker  region      charges
0      19    1  27.900         0       1       1  16884.92400
1      18    0  33.770         1       0       3   1725.55230
2      28    0  33.000         3       0       3   4449.46200
3      33    0  22.705         0       0       0  21984.47061
4      32    0  28.880         0       0       0   3866.85520
...   ...  ...     ...       ...     ...     ...          ...
1333   50    0  30.970         3       0       0  10600.54830
1334   18    1  31.920         0       0       2   2205.98080
1335   18    1  36.850         0       0       3   1629.83350
1336   21    1  25.800         0       0       1   2007.94500
1337   61    1  29.070         0       1       0  29141.36030

[1338 rows x 7 columns]

In [30]:
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [31]:
model = LinearRegression()

In [32]:
model.fit(X_scaled, y)

LinearRegression()

In [33]:
new_data = [[35, 10]]  # 예측하려는 새로운 데이터
new_data_scaled = scaler.transform(new_data)
predicted_premium = model.predict(new_data_scaled)

print("Predicted Premium:", predicted_premium)

Predicted Premium: [35.28527139]