- pands
- 데이터 처리, 분석용 라이브러리
- 표 형식 데이터, 시계열 데이터 등 다양한 형태의 데이터를 다루는데에 초점  
(csv, textfiles, )

In [5]:
import numpy as np
import pandas as pd

In [17]:
obj = pd.Series([0,1,2,3,4,5,6,7], index=['a','b','c','d','e','f','g','h'],
                                          dtype='int64')
obj

a    0
b    1
c    2
d    3
e    4
f    5
g    6
h    7
dtype: int64

In [13]:
obj[3]

d    3
dtype: int64

In [15]:
obj[[-1]]

h    7
dtype: int64

In [16]:
obj[[1,3,5]] # multi index 접근 방법

b    1
d    3
f    5
dtype: int64

In [18]:
obj [1:3] # 1부터 3자리

b    1
c    2
dtype: int64

In [19]:
obj[obj<3] # boolean indexing / 정수 접근

a    0
b    1
c    2
dtype: int64

In [20]:
obj < 3 # 3보다 작은 obj 012 abc

a     True
b     True
c     True
d    False
e    False
f    False
g    False
h    False
dtype: bool

- Iabel LOCation based (정수로 행과 열을 선택, ex. df.iloc[0, 1]은 첫 번째 행과 두 번째 열의 값을 가져옵니다.)

In [21]:
obj = pd.Series([0,1,2,3,4,5,6,7], index=['a','b','c','d','e','f','g','h'],
                                          dtype='int64')
obj

a    0
b    1
c    2
d    3
e    4
f    5
g    6
h    7
dtype: int64

In [22]:
obj.iloc[2]

2

In [23]:
obj.iloc[[2]] # 라벨 과 값

c    2
dtype: int64

In [26]:
obj.iloc[1:4]

b    1
c    2
d    3
dtype: int64

- LOCation based ( 라벨(label)로 행과 열을 선택, DataFrame의 인덱스(index)와 칼럼(column) 라벨을 사용하여 데이터를 선택합니다.)
 ex. df.loc[0, 'col1']은 인덱스가 0이고 칼럼 라벨이 'col1'인 셀의 값을 가져옴)

In [91]:
obj.loc['a':'c'] # 라벨로 접근

a    0
b    1
c    2
dtype: int64

In [92]:
obj.c  # c 의 위치

2

In [93]:
obj['c'] # c의 위치

2

In [94]:
obj[['e','c']] # e랑 c랑

e    4
c    2
dtype: int64

In [95]:
obj['a':'d'] # a ~ d 까지

a    0
b    1
c    2
d    3
dtype: int64

In [96]:
obj['d':'e']=100 # d 와 e는 100으로 바꿔주는 것
obj # 브로드 캐스팅

a      0
b      1
c      2
d    100
e    100
f      5
g      6
h      7
dtype: int64

In [28]:
obj

a    0
b    1
c    2
d    3
e    4
f    5
g    6
h    7
dtype: int64

In [15]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'A': [1, 4, 7], 'B': [2, 5, 8], 'C': [3, 6, 9]})

print(df.iloc[0, 1])   # 2
print(df.loc[0, 'B'])  # 2
# iloc[0, 1]은 첫 번째 행과 두 번째 열의 값을 가져오고, loc[0, 'B']는 인덱스가 0이고 칼럼 라벨이 'B'인 셀의 값을 가져옴

2
2

- 시리즈가 여러개 붙어있는게 데이터 프레임  
- json file : 정형데이터 비정형데이터 반정형데이터

In [20]:
df = pd.DataFrame(np.arange(24).reshape(4,-1),
columns = ['c1','c2','c3','c4','c5','c6'],
index=['r1','r2','r3','r4'])
df

# (index 표 행, columns 표 렬, 그외 안에 값)

    c1  c2  c3  c4  c5  c6
r1   0   1   2   3   4   5
r2   6   7   8   9  10  11
r3  12  13  14  15  16  17
r4  18  19  20  21  22  23

In [58]:
df.iloc[2:3]

    c1  c2  c3  c4  c5  c6
r3  12  13  14  15  16  17

In [99]:
df['c3']

r1     2
r2     8
r3    14
r4    20
Name: c3, dtype: int32

In [100]:
df.c3

r1     2
r2     8
r3    14
r4    20
Name: c3, dtype: int32

In [101]:
df[1:3]

    c1  c2  c3  c4  c5  c6
r2   6   7   8   9  10  11
r3  12  13  14  15  16  17

In [102]:
df[['c1','c3']] # 값이 1개 이상이면 [[multi index]]로 접근해야 함

    c1  c3
r1   0   2
r2   6   8
r3  12  14
r4  18  20

In [103]:
df['r1':'r2']

    c1  c2  c3  c4  c5  c6
r1   0   1   2   3   4   5
r2   6   7   8   9  10  11

In [59]:
df['c1' : 'c2'] # error는 아니지만 원하는 값이 안나옴
# 컴터는 열 중심, 컴터 열 = 인간 행,  컴터행(인간열)은 역주행이라 불가

Empty DataFrame
Columns: [c1, c2, c3, c4, c5, c6]
Index: []

In [105]:
df[['c1','c2']] # 멀티 인덱스로 하나씩 가져오면 위의 코드를 대체 가능

    c1  c2
r1   0   1
r2   6   7
r3  12  13
r4  18  19

In [106]:
df.iloc[[0],[3]]

    c4
r1   3

In [107]:
df.iloc[[0,1],1:4]

    c2  c3  c4
r1   1   2   3
r2   7   8   9

- loc

In [60]:
df.loc[['r1'],['c4']] # 멀티인덱스
# df.loc['r1','c4'] # 이건 값은 나오지만 행렬은 안나옴

    c4
r1   3

In [115]:
df.loc['r1':'r2', ['c2','c3','c4']]
# df.loc['r1':'r2', ['c3','c4','c2']] # 이것도 가능

    c2  c3  c4
r1   1   2   3
r2   7   8   9

- 산술 연산자
  - Series

In [118]:
s1= pd.Series([1,2,3,4], index=['a','b','c','d'])
s2= pd.Series([10,20,30,40], index=['a','b','c','d'])
s1 + s2

a    11
b    22
c    33
d    44
dtype: int64

In [62]:
s1= pd.Series([1,2,3,4], index=['a','b','c','d'])
s2= pd.Series([10,20,30,40], index=['b','c','d','e'])
s1 + s2 # a , e 는 값이 없어서 호출이 안됨 // 교집합 합집합
# SQL의 outer join

a     NaN
b    12.0
c    23.0
d    34.0
e     NaN
dtype: float64

In [66]:
s1.add(s2,fill_value=0)

a     NaN
b    12.0
c    23.0
d    34.0
e     NaN
dtype: float64

In [75]:
import pandas as pd
stock = pd.read_csv('https://raw.githubusercontent.com/Youngpyoryu/Lecture_Note/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC/stock_2020_01.csv',encoding= 'CP949')
stock

                      Date    kospi  kosdaq  gold_fut_132030  Bond_273130
0    2020. 1. 2 오후 3:30:00  2175.17  674.02            10845       108215
1    2020. 1. 3 오후 3:30:00  2176.46  669.93            11000       108565
2    2020. 1. 6 오후 3:30:00  2155.07  655.31            11245       108745
3    2020. 1. 7 오후 3:30:00  2175.54  663.44            11180       108400
4    2020. 1. 8 오후 3:30:00  2151.31  640.94            11360       108270
5    2020. 1. 9 오후 3:30:00  2186.45  666.09            11055       107980
6   2020. 1. 10 오후 3:30:00  2206.39  673.03            11035       107760
7   2020. 1. 13 오후 3:30:00  2229.26  679.22            11080       107695
8   2020. 1. 14 오후 3:30:00  2238.88  678.71            10975       107860
9   2020. 1. 15 오후 3:30:00  2230.98  679.16            11060       108020
10  2020. 1. 16 오후 3:30:00  2248.05  686.52            11060       108015
11  2020. 1. 17 오후 3:30:00  2250.57  688.41            11075       107830
12  2020. 1. 20 오후 3:30:00  2262.64  683.47            11140       107775
13  2020. 1. 21 오후 3:30:00  2239.69  676.52            11155       108040
14  2020. 1. 22 오후 3:30:00  2267.25  688.25            11050       107995
15  2020. 1. 23 오후 3:30:00  2246.13  685.57            11080       107970
16  2020. 1. 28 오후 3:30:00  2176.72  664.70            11250       108450
17  2020. 1. 29 오후 3:30:00  2185.28  670.18            11160       108585
18  2020. 1. 30 오후 3:30:00  2148.00  656.39            11225       108810
19  2020. 1. 31 오후 3:30:00  2119.01  642.48            11210       108795

In [74]:
# stock = pd.read_csv("C:/Users/5/stock_2020_01.csv", encoding='CP949')
# stock

FileNotFoundError: [Errno 2] No such file or directory: 'C:/Users/5/stock_2020_01.csv'

In [76]:
stock.head() # ()위에서 5개 // (3)위에서 3개

                    Date    kospi  kosdaq  gold_fut_132030  Bond_273130
0  2020. 1. 2 오후 3:30:00  2175.17  674.02            10845       108215
1  2020. 1. 3 오후 3:30:00  2176.46  669.93            11000       108565
2  2020. 1. 6 오후 3:30:00  2155.07  655.31            11245       108745
3  2020. 1. 7 오후 3:30:00  2175.54  663.44            11180       108400
4  2020. 1. 8 오후 3:30:00  2151.31  640.94            11360       108270

In [77]:
stock.tail() # ()밑에서 5개

                      Date    kospi  kosdaq  gold_fut_132030  Bond_273130
15  2020. 1. 23 오후 3:30:00  2246.13  685.57            11080       107970
16  2020. 1. 28 오후 3:30:00  2176.72  664.70            11250       108450
17  2020. 1. 29 오후 3:30:00  2185.28  670.18            11160       108585
18  2020. 1. 30 오후 3:30:00  2148.00  656.39            11225       108810
19  2020. 1. 31 오후 3:30:00  2119.01  642.48            11210       108795

- 기술통계량

In [78]:
stock.describe() # 평균과 중앙값이 같으면 정규분포
# 갯수/평균/표준편차/가장작은값/데이터25%/50%(메디안(median)=중앙값)/75%/가장큰값

            kospi      kosdaq  gold_fut_132030  Bond_273130
count    20.00000   20.000000        20.000000      20.0000
mean   2203.44250  671.117000     11112.000000  108188.7500
std      43.83648   14.040831       115.762916     364.6912
min    2119.01000  640.940000     10845.000000  107695.0000
25%    2175.44750  664.385000     11053.750000  107942.5000
50%    2196.42000  673.525000     11080.000000  108030.0000
75%    2241.30000  680.282500     11187.500000  108478.7500
max    2267.25000  688.410000     11360.000000  108810.0000

In [79]:
A=np.array([16,12,28,8,18,17,28,24,5,4,12,16,8,4,4,4])
A.mean()

13.0

In [80]:
np.median(A)

12.0

정규분포 / 평균값=중앙값 : 신뢰구간/ 1.96 / 2.58 /
over view

- 결축치(missing value)

In [81]:
stock.isna().sum() #.sum() 한번 더 붙이면 전체 갯수
# stock.isnull().sum()  # 위와 같음

Date               0
kospi              0
kosdaq             0
gold_fut_132030    0
Bond_273130        0
dtype: int64

데이터의 자료형 -> info()

In [82]:
stock.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date             20 non-null     object
 1   kospi            20 non-null     float64
 2   kosdaq           20 non-null     float64
 3   gold_fut_132030  20 non-null     int64
 4   Bond_273130      20 non-null     int64
dtypes: float64(2), int64(2), object(1)
memory usage: 928.0+ bytes

In [83]:
stock['Date']

0      2020. 1. 2 오후 3:30:00
1      2020. 1. 3 오후 3:30:00
2      2020. 1. 6 오후 3:30:00
3      2020. 1. 7 오후 3:30:00
4      2020. 1. 8 오후 3:30:00
5      2020. 1. 9 오후 3:30:00
6     2020. 1. 10 오후 3:30:00
7     2020. 1. 13 오후 3:30:00
8     2020. 1. 14 오후 3:30:00
9     2020. 1. 15 오후 3:30:00
10    2020. 1. 16 오후 3:30:00
11    2020. 1. 17 오후 3:30:00
12    2020. 1. 20 오후 3:30:00
13    2020. 1. 21 오후 3:30:00
14    2020. 1. 22 오후 3:30:00
15    2020. 1. 23 오후 3:30:00
16    2020. 1. 28 오후 3:30:00
17    2020. 1. 29 오후 3:30:00
18    2020. 1. 30 오후 3:30:00
19    2020. 1. 31 오후 3:30:00
Name: Date, dtype: object

In [84]:
stock['kospi'].sort_values() # 코스피가 높은 값부터 출력 # 데이터 프레임
# reverse, reversed는 불가 굳이 사용하려면 인덱스를 역순 [::-1]이런 식

19    2119.01
18    2148.00
4     2151.31
2     2155.07
0     2175.17
3     2175.54
1     2176.46
16    2176.72
17    2185.28
5     2186.45
6     2206.39
7     2229.26
9     2230.98
8     2238.88
13    2239.69
15    2246.13
10    2248.05
11    2250.57
12    2262.64
14    2267.25
Name: kospi, dtype: float64

- unique
    - 중복되는 값을 제거하고 유일한 값만 담고있는 Series를 반환
    - 데이터프레임에서는 안되지만  
  데이터에서 시리즈로 만든다면 사용가능

In [95]:
obj = pd.Series([2,1,3,3,1,5,np.nan,1,2]) # nan = not a number
obj

0    2.0
1    1.0
2    3.0
3    3.0
4    1.0
5    5.0
6    NaN
7    1.0
8    2.0
dtype: float64

In [97]:
obj.isnull().sum()
# obj.isna().sum() 위와 같음

1

In [100]:
obj.unique() # 중복 값 제거

array([ 2.,  1.,  3.,  5., nan])

In [101]:
stock['kospi'].unique() # Series

array([2175.17, 2176.46, 2155.07, 2175.54, 2151.31, 2186.45, 2206.39,
       2229.26, 2238.88, 2230.98, 2248.05, 2250.57, 2262.64, 2239.69,
       2267.25, 2246.13, 2176.72, 2185.28, 2148.  , 2119.01])

- value_conuts

In [ ]:
obj.value_counts() # obj에 1.0이 3개, 2.0이 2개 등등 세어줌

1.0    3
2.0    2
3.0    2
5.0    1
Name: count, dtype: int64

In [ ]:
obj.sort_values()

1    1.0
4    1.0
7    1.0
0    2.0
8    2.0
2    3.0
3    3.0
5    5.0
6    NaN
dtype: float64

In [103]:
obj.value_counts(normalize=True) # 노멀라이즈 True :  요소가 몇% 차지 하는지 False은 안쓰는 것과 같음

1.0    0.375
2.0    0.250
3.0    0.250
5.0    0.125
Name: proportion, dtype: float64

In [ ]:
obj.sort_values() # index보다 이걸 더 많이 씀, 값을 정렬 하기 때문

1    1.0
4    1.0
7    1.0
0    2.0
8    2.0
2    3.0
3    3.0
5    5.0
6    NaN
dtype: float64

In [112]:
obj = pd.Series([1,2,3,-1,-2], index=list('adebc'))
obj

a    1
d    2
e    3
b   -1
c   -2
dtype: int64

In [111]:
# obj = pd.Series([1,2,3,-1,-2], index=list('가마나라다')) # 한 글 가능
obj

가    1
마    2
나    3
라   -1
다   -2
dtype: int64

In [109]:
obj.sort_index() # sort는 알파벳순

가    1
나    3
다   -2
라   -1
마    2
dtype: int64

In [117]:
obj.sort_index(ascending=False) # ascending(오름차순)

e    3
d    2
c   -2
b   -1
a    1
dtype: int64

In [123]:
frame = pd.DataFrame(np.arange(9).reshape(3,3),
                     index = list('acb'),
                     columns = list('edf'))
frame

   e  d  f
a  0  1  2
c  3  4  5
b  6  7  8

In [130]:
frame.sort_index(axis=0) # axis : numpy 0열 1행 / pandas = 0행 1열

   e  d  f
a  0  1  2
b  6  7  8
c  3  4  5

In [133]:
frame.sort_values(by='e', ascending=False)

   e  d  f
b  6  7  8
c  3  4  5
a  0  1  2

In [135]:
frame.sort_values(by=['e','f'], ascending=[False, True])

   e  d  f
b  6  7  8
c  3  4  5
a  0  1  2

In [136]:
# inplace=True는 변수 데이터 직접수정 (아예 바꿈)

- map
    - Series의 각각의 element들을 다른 어떤 값으로 대체하는 역할

In [137]:
series=pd.Series([100,200,300])
series

0    100
1    200
2    300
dtype: int64

In [138]:
series.map({100:'C',200:'B',300:'A'}) # 위 값을 CBA로 바꿈

0    C
1    B
2    A
dtype: object

In [ ]:
series.map('${}'.format)

0    $100
1    $200
2    $300
dtype: object

In [ ]:
series.map('{}달러'.format)

0    100달러
1    200달러
2    300달러
dtype: object

In [141]:
f= lambda x: np.add(x,3)
series.map(f)

0    103
1    203
2    303
dtype: int32

- apply
  - map 보다 적용할 수 있는 범위가 큰 것.

In [142]:
s = pd.Series([20,21,12], index=['London','New York', 'Helsinki'])
s

London      20
New York    21
Helsinki    12
dtype: int64

In [143]:
def sub_custom_value(x, val):
    return x-val

In [158]:
s.apply(sub_custom_value,args=(10,)) # (10, ) 넘어갈 수 있다 가변공간이라 순환가능
# 공간이 있으니까 딴데 갈수있는 느낌

London      10
New York    11
Helsinki     2
dtype: int64

In [153]:
arr3 = np.array([[[1, 2], [3, 4]], [[5, 6], [7, 8]]]) # array 배열 생성함수
arr3[1][1][1] # 그냥 문뜩 해봄

8

In [154]:
def add_custom_values(x, **kwargs):
    for month in kwargs: # month라는 데이터가 없음
        x +=kwargs[month]
    return x

In [155]:
s.apply(add_custom_values, june=30, july=20, august=25)
# 원래 데이터에 month가 없어서 month에 못주니까 딴애들한테 한번씩 다 줌

London      95
New York    96
Helsinki    87
dtype: int64

 - axis 별로 apply를 적용 가능

판다스 DataFrame, Series에 저장한 값을 치환하고 싶은 경우 replace(문자열도 가능)
ex. df.replace(24, 100) 24라는 모든 요소를 100으로 바꿈 inplace=True 추가하면 데이터 치환
복수 치환은 딕셔너리 사용({'CA':24},{100:'Na'})  
리스트도 가능 (['CA',100],['Na':24])  
컬럼명에도 가능 ({'name':{24:100}})  
({'age':24:100, 18:0},'name'{24:50})  
({'age': [24, 18], 'point': 70}, 100))

https://ponyozzang.tistory.com/613