In [5]:
import numpy as np
import pandas as pd

In [6]:
a= np.arange(10)
b = np.resize(a, (2,5))
# reshape : 중복 X //a.reshape O // (열, 행)
# resize : 중복 O // a.resize X // (열, 행)

In [7]:
# array,
# https://analytics4everything.tistory.com/60
# np. resize , np.reshape
# numpy transpose, T
# numpy.random.randint

# pandas loc, iloc
# inner join, outer join
# normalize

In [8]:
series=pd.Series([100,200,300])
series

0    100
1    200
2    300
dtype: int64

In [9]:
series.map({100:'c', 200:'b', 300:'a'})

0    c
1    b
2    a
dtype: object

In [10]:
series.map('${}'.format)

0    $100
1    $200
2    $300
dtype: object

In [11]:
series.map('빚 {}억'.format)

0    빚 100억
1    빚 200억
2    빚 300억
dtype: object

In [12]:
f = lambda x:np.add(x,3)
series.map(f)

0    103
1    203
2    303
dtype: int32

In [13]:
s = pd.Series([20,21,12], index=['london', 'New york', 'helsinky'])
s

london      20
New york    21
helsinky    12
dtype: int64

In [14]:
def sub_custom_value(x,val):
    return x-val

In [16]:
s.apply(sub_custom_value,args=(10,))
# (10,0),(10) 안됨, (10, ) 공백이 있어야 넘어갈 수 있암, 가변공간이라 순환 가능
# 공간이 있으니까 갈 수 있는 느낌..?

london      10
New york    11
helsinky     2
dtype: int64

In [17]:
def add_custom_values(x,**kwargs):
    for month in kwargs : # month라는 데이터가 없음
        x += kwargs[month]
    return x

In [ ]:
s.apply(add_custom_values, june=30, july=20, august=25)
# 원래 데이터에 month가 없어 month에게 줄 값을 따른 애들한테 걍 한번씩 다줌