- 가변공간 Python
- 비교 연산자
- ID 함수

- 3 & 4 # & : 논리 연산자 X -> 비트 연산자 O  
0011 & 011 -> 0000

In [13]:
3 and 4 # 4
3 or 4 # 3

3

- 같은 값을 복사하고 싶으면?

In [8]:
a= [5,4,3,2,1]
b=a[:]
id(a),id(b) # 2887136619264, 2887136841984

(2887136859904, 2887136742528)

In [36]:
a.sort()
a

([1, 2, 3, 4, 5], [5, 4, 3, 2, 1])

In [37]:
b

([5, 4, 3, 2, 1], [1, 2, 3, 4, 5])

In [10]:
a = [5,4,3,2,1]
b = a.copy()
id(a), id(b) # 1707619930816, 1707618760064

(2887135835264, 2887135974784)

In [12]:
a.sort()
a

[1, 2, 3, 4, 5]

In [13]:
b

[5, 4, 3, 2, 1]

In [14]:
a

[1, 2, 3, 4, 5]

- 비교 연산자

In [44]:
a = 10 ; b = 10
print(a == b) ; print(a is b) # 둘다 True

True
True

In [43]:
a= 257 ; b = 257 # is 는 -5~256 넘어가면 False
print(a == b) ; print(a is b)

True
False

In [45]:
a = -5 ; b= -5
a is b  # True

True

In [46]:
a = -6 ; b= -6
a is b # False

False

In [47]:
a = [1,2,3,4,5]
b=a[:]
print(a) ; print(b) ; print(a is b)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
False

In [53]:
import copy
a = [1,2,3,4,5]
b = copy.deepcopy(a)
print(a) ; print(b) ; print(a is b)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
False

- 논리 연산자 : aAND 연산자, 두개의 조건식이 모두 True일 때, True를 리턴
- 비트 연산자 : &는 비트 연산자, 두개의 이진수에서 동일한 위치의 bit가 1인 것들만 1로 계산

In [55]:
a = 100
if a > 0 and (a%2)==0:
    print('a si even')
print(5 and 7) ; print(7 and 13) # 7 , 13

a si even
7
13

In [58]:
print(7 & 13) # 0111 & 1101 = 5
print(13 & 7) # 0111 & 1101 = 5

5
5

- b 로 a 를 나눈 나머지가 3초과면 실패, 3이면 무승부, 3미만 성공을 출력

In [59]:
a = 34
b = 4
if  a % b > 3 : 
  print ("성공")
elif a % b == 3:
  print ("무승부")
else :
  print("실패")

실패

- 태어난 연도를 계산하여 학교 종류를 맞추는 프로그램  
당신이 태어난 연도를 입력하세요 : 2000 : 당신은 학생이 아닙니다  
나이는 현재년도 - 태어난 년도 +1 로 계산  
26세 이하 20세 이상이면 "대학생", 20세 미만 17세 이상이면 "고등학생",  
17세 미만 14세 이상이면 "중학생", 14세 미만 8세 이상이면 "초등학생",  
그 외의 경우는 "학생이 아닙니다" 출력

In [63]:
birth_year = int(input('당신의 태어난 년도를 입력해주세요.'))

age = 2023 - birth_year+1

message = ""
if 20<=age and age<=26:
    message="대학생"
elif 17<=age and age<20:
    message="고등학생"
elif 14<=age and age<17:
    message="중학생"
elif 8<=age and age<14:
    message="초등학생"
else:
    print('학생이 아닙니다.')
print(message)

대학생

- 양의 정수 하나를 입력 받아 이 정수가 2의 배수인지 3의 배수인지 작성하시오.

In [64]:
num = int(input('정수를 하나 입력하세요.'))

if num %2==0:
    if num%3==0:
        print('2와 3으로 나누어 집니다.')
    else : 
        print('2로 나누어집니다.')
elif num %3==0:
    print('3으로 나누어 집니다.')
else:
    print('어느 것으로도 나누어지지 않습니다.')

어느 것으로도 나누어지지 않습니다.

In [66]:
i = 1
while i <= 10 : # 10이 i보다 크다면 if문
  if i % 2 == 0: # i 를 2로 나눴을 때 남은 수가 0이면 출력 
    print(i)
  i += 1 # i % 2 ==0 아니라면 i에 +=1 하고 while으로 (최초 i=1에서 i=2가 됨)

2
4
6
8
10

In [67]:
for count in range(5, -1, -1): # 5부터 0까지 -1 씩 내려감
      print(count)

5
4
3
2
1
0

In [68]:
a=0
for i in range(1,11): # i에 1부터 10까지 한 번씩 반복 순회
    a = a+i # 최초 a=0에서 a(0)+i(1) 되어 2번째엔 a가 1이 되고 3번째엔 1+2=3, 이걸 10번
print(a) # 1~10 까지 수를 차례로 합함  answer : 55

55

1. 계단형, n을 입력받아, n 만큼 줄을 만들고 계단 형태로 별 찍기
2. 삼각형, 왼쪽 아래가 직각인 n만큼의 높이를 가지는 직각삼각형  
2-1. 오른쪽 아래가 직각인 n만큼의 높이를 가지는 직각삼각형
3. 역삼각형, 왼쪽 위가 직각인 n 만큼의 높이를 가지는 직각삼각형  
3-1. 오른쪽 위의 직각인 n만큼의 높이를 가지는 직각삼각형
4. 피라미드, n 만큼의 높이를 가지는 홀수개의 별 피라미드

In [71]:
n = int(input('n:')) # 1번 계단형 / n : 출력할 별의 갯수
for i in range(n): # 입력 받은 숫자만큼 순회
   print(' '*i,end=' ') # end 끝에 한번 " "공백 sep과 비슷한 기능(구분자 사용)
   print('*'*n)

 ******
  ******
   ******
    ******
     ******
      ******

In [74]:
n = int(input('n:')) # 2번 삼각형
for i in range(1,n+1): # 별 1개부터 입력 받은 수 +1 까지 순회
  print('*'*i) # 1개부터 n+1개까지

*
**
***
****
*****
******
*******
********
*********
**********

In [79]:
n = int(input('n:')) # 2-1번 역 삼각형
for i in range(1, n+1): 
  print(' '*(n-i), end='') # 공백 * n-i(첨엔 많고 점점 줄음), end 줄바꿈 
  print('*'*i) # 띄어쓰기 후 별갯수 # 다시

*

**

***

****

*****

In [80]:
n = int(input('n:')) # 3번 역삼각형
for i in range(n): 
  print('*'*(n-i)) # 최초 별 n개-i(0) 출력 후 순회 할수록 i 값이 커져서 별이 줄음

*****
****
***
**
*

In [81]:
n = int(input('n:')) # 3-1 번 / 2-1 역방향
for i in range(n):
  print(' '*i, end='')
  print('*'*(n-i))

*****
 ****
  ***
   **
    *

In [82]:
n = int(input('n:')) # 4 번 (피라미드)
for i in range(1,n+1):
  print(' '*(n-i), end='')
  print('*'*(2*i-1))

    *
   ***
  *****
 *******
*********

In [83]:
""" (1) x = [3, 6, 9, 20, -7, 5] 의 값의 모든 요소에 10을 곱한뒤 출력하세요."""

x = [3,6,9,20,-7,5] # 1번
for i in x: 
    print (i*10) # x 의 값들을 i에 순회 시켜 10씩 곱함

30
60
90
200
-70
50

In [84]:
""" 심화 : 출력과 리스트 x 의 값에도 모두 10을 곱해주세요."""
for i in range(0, len(x)): # 1번 심화
    x[i] = x[i]*10 # 1번과 같으나 x list의 값들도 바뀜
print(x)

[30, 60, 90, 200, -70, 50]

In [101]:
""" (2) y = {"math":70, "science":80, "english": 20}의
값의 모든 요소에 10을 더한 뒤 출력하세요."""

y = {"math":70, "science":80, "english": 20} # 2번
for key in y: # y 요소들을 변수 key에 담았음 " ": 값들
    val = y[key] # val에 y의 key를 담음
    print('%s : %d' %(key,val+10)) # %s는 keys %d는 values+10

math : 80
science : 90
english : 30

In [96]:
""" 심화 : 출력과 딕셔너리 y의 값에도 모두 10을 더해주세요."""

y = {"math":70, "science":80, "english": 20} # 2번 심화
for key in y:
    val = y[key]
    y[key] = y[key]+10 # y 내부 딕셔너리도 +10씩 되었음
    print('%s : %d' %(key,val+10))

math : 80
science : 90
english : 30

{'math': 80, 'science': 90, 'english': 30}

In [ ]:
""" 숫자를 입력받고 입력받은 정수의 구구단을 출력하세요."""

In [99]:
"""숫자를 입력받아 1~100까지의 임의의 값을 맞추는 문제"""

import random
true_value = random.randint(1,100)
input_value= 9999 # 임의의 값 할당
print('숫자')
while true_value != input_value :
    input_value = int(input())
    if input_value>true_value: # 사용자의 입력값이 true_value 클때
        print('숫자가 큽니다')
    else :
        print('숫자가 작습니다') # 사용자의 입력값이 true_value보다 작을 때
print(f"정답입니다. 입력한 숫자는 {true_value}입니다.")

숫자
숫자가 큽니다
숫자가 큽니다
숫자가 큽니다
숫자가 작습니다
숫자가 작습니다
숫자가 작습니다
숫자가 큽니다
숫자가 작습니다
숫자가 작습니다
정답입니다. 입력한 숫자는 24입니다.

In [100]:
''' word = ["school", "game", "piano", "science", "hotel", "mountain"]
중 글자수가 6글자 이상인 문자를 모아 새로운 리스트를 생성하세요'''

word = ["school", "game", "piano", "science", "hotel", "mountain"]
b= list() # 새로운 리스트 생성
for i in range(len(word)):
    if len(word[i]) >= 6:
        b.append(word[i])
print(b)

['school', 'science', 'mountain']

In [102]:
""" 1부터 100까지 숫자 중
3과 5의 공배수일 경우 "3과 5의 공배수"
나머지 숫자중 3의 배수일 경우 "3의 공배수"
나머지 숫자중 5의 배수일 경우 "5의 배수"
모두 해당되지 않는 경우 그냥 숫자를 출력하세요 """

b = int(input('정수를 입력하세요.'))
if b<=0:
    print('음수는 정의하지 않음.')
else:    
    for a in range(1,b+1):
        if a%3==0 and a%5==0: 
            print('3과 5의 공배수')
        elif a%3==0:
            print('3의 배수')
        elif a%5==0:
            print('5의 배수')
        elif 1<=a<=100:
            print(a)
        else:
            print('1과 100사이 숫자가 아닙니다.')

5의 배수
5의 배수
5의 배수
5의 배수
5의 배수
5의 배수
5의 배수
5의 배수
5의 배수
5의 배수
5의 배수
5의 배수
5의 배수
5의 배수
5의 배수
5의 배수
5의 배수
5의 배수
5의 배수
5의 배수
5의 배수
5의 배수
5의 배수
5의 배수
5의 배수
5의 배수
5의 배수
5의 배수
5의 배수
5의 배수
5의 배수
5의 배수
5의 배수
5의 배수
5의 배수
5의 배수
5의 배수
5의 배수
5의 배수
5의 배수
5의 배수
5의 배수
5의 배수
5의 배수
5의 배수
5의 배수
5의 배수
5의 배수
5의 배수
5의 배수
5의 배수
5의 배수
5의 배수
5의 배수
5의 배수
5의 배수
5의 배수
5의 배수
5의 배수
5의 배수
5의 배수
5의 배수
5의 배수
5의 배수
5의 배수
5의 배수
5의 배수
5의 배수
5의 배수
5의 배수
5의 배수
5의 배수
5의 배수
5의 배수
5의 배수
5의 배수
5의 배수
5의 배수
5의 배수
5의 배수
5의 배수
5의 배수
5의 배수
5의 배수
5의 배수
5의 배수
5의 배수
5의 배수
5의 배수
5의 배수
5의 배수
5의 배수
5의 배수
5의 배수
5의 배수
5의 배수
5의 배수
5의 배수
5의 배수
5의 배수

In [106]:
""" 사용자로부터 숫자를 계속 입력받다가
s or S 를 입력하면 입력 받은 수의 합계를 출력"""

c = 0
d = 1
while (d==1):
    a = input()
    if a=='s' or a=='S':
        d=0
    else:
        a = int(a)
        c+=a
print(c)

12

In [107]:
''' 사람 별 평균을 구하라. (나중에 딕셔너리도 해보자) '''
kor_score = [39,69,29,100,80]
math_score = [32,59,85,30,90]
eng_score = [49,70,48,60,100]

mideterm_score = [kor_score, math_score,eng_score]

student_score = [0,0,0,0,0]
i=0
for subject in mideterm_score: #kor,math,eng 과목 선택
    for score in subject: #과목 선택후
        student_score[i]+=score #각 학생마다 개별로 교과 점수를 저장
        # print(subject,score,'i:',i,student_score) #kor->math->eng 
        i+=1 #학생 index 구분
    i=0 # 과목이 바뀔 때 학생 인덱스
else:
    a,b,c,d,e = student_score  #학생별 점수를 unpacking
    student_average = [a/3,b/3,c/3,d/3,e/3]
    print(student_average)

[40.0, 66.0, 54.0, 63.333333333333336, 90.0]

In [4]:
""" 포맷팅 플루팅 에러, 16까진 가능 17자리부터 에러"""
print('나눗셈. {:.17f}'.format(1/3))

나눗셈. 0.33333333333333331

- 류영표 강사님 GitHub 주소: (https://github.com/Youngpyoryu/Lecture_Note)